html {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding:0;
    background-color: #fff;
    width:100%;
    min-width:400px;
}

/* nav */
.nav {
    color:#fff;
    background-color:black;
    height:60px;
    margin:0;
}

.nav ul {
    list-style: none;
    text-align:right;
    padding-top:15px;
}

.nav ul li {
    display:inline;
    font-size: 12px;
}

.btn {
    padding: 15px 25px 15px 25px;
    background-color:transparent;
    border-radius:5%;
    border: 1.5px solid orange;
    color: (236, 208, 116);
    text-decoration:none;  
}

.btn:hover {
    color:#fff;
    background-color:orange;
}

.btn:visited {
    color:white;
}


/* header */

.header { 
  width: auto;
  display: inline-block;    
  height: 600px;
  margin: 60px auto 30px auto;
  width:100%;
}
.header h1,
.header h3 {
  color:orange;
}

.header .container {    
  height: 600px;
  background-color:white;
  margin:auto;
}

.header .container img {
  width: 80%; 
  height: auto;  
  border-radius:3%; 
}

/* main */
.main {
  text-align:center;
  margin-bottom:60px;
}

.main h2 {
  padding: 20px 0 40px 0;
  color:orange;
}

.main .col-md-3 {
  margin:auto;
  
}

.main .col-md-3 h3 {
  font-size: 20px;
}

/* Footer */
.footer {
    background-color:#000000;
    padding-top:10px;
    color:#fff;
    height:70px;
    margin-top:0;
}




